<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load staticfiles %}
<html>

<head>
    <title>AB103 Movie Recommandation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
    <link title="timeline-styles" rel="stylesheet" href="{% static 'css/font.cwtexyen.css' %}">
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <div class="content">
                <h1>Movie Recommandation</h1>
                <h2 id="tc">請選擇3部您喜歡的電影<br />您將會獲得10部電影推薦<br /> 準備好了嗎？
                </h2>
                <a href="#" class="button big alt"><span>Let's Go</span></a>
            </div>
            <a href="#" class="button hidden"><span>Let's Go</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="columns">

                <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit" id="1291549">
                    <!--<img src="{% static 'posters/image_01.jpg' %}" alt="" />-->
                    <img src="{% static 'posters/1291549.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1309046">
                    <img src="{% static 'posters/1309046.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1418834">
                    <img src="{% static 'posters/1418834.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1485260">
                    <img src="{% static 'posters/1485260.jpg' %}" alt="" />
                </div>

                <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit" id="1652587">
                    <img src="{% static 'posters/1652587.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1787291">
                    <img src="{% static 'posters/1787291.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1828115">
                    <img src="{% static 'posters/1828115.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1849031">
                    <img src="{% static 'posters/1849031.jpg' %}" alt="" />
                </div>

                <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit" id="1858711">
                    <img src="{% static 'posters/1858711.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1889243">
                    <img src="{% static 'posters/1889243.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="1929463">
                    <img src="{% static 'posters/1929463.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2129039">
                    <img src="{% static 'posters/2129039.jpg' %}" alt="" />
                </div>

                <!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit" id="2131459">
                    <img src="{% static 'posters/2131459.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2131940">
                    <img src="{% static 'posters/2131940.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2135981">
                    <img src="{% static 'posters/2135981.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2149806">
                    <img src="{% static 'posters/2149806.jpg' %}" alt="" />
                </div>

                <!-- Column 5 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit" id="2209573">
                    <img src="{% static 'posters/2209573.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2213597">
                    <img src="{% static 'posters/2213597.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2303845">
                    <img src="{% static 'posters/2303845.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="2997076">
                    <img src="{% static 'posters/2997076.jpg' %}" alt="" />
                </div>

                <!-- Column 6 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit" id="3005875">
                    <img src="{% static 'posters/3005875.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3011091">
                    <img src="{% static 'posters/3011091.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3011235">
                    <img src="{% static 'posters/3011235.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3072086">
                    <img src="{% static 'posters/3072086.jpg' %}" alt="" />
                </div>

                <!-- Column 7 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit" id="3072124">
                    <img src="{% static 'posters/3072124.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3075287">
                    <img src="{% static 'posters/3075287.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3158990">
                    <img src="{% static 'posters/3158990.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3205624">
                    <img src="{% static 'posters/3205624.jpg' %}" alt="" />
                </div>

                <!-- Column 8 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit" id="3364223">
                    <img src="{% static 'posters/3364223.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3395373">
                    <img src="{% static 'posters/3395373.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3541415">
                    <img src="{% static 'posters/3541415.jpg' %}" alt="" />
                </div>
                <div class="image fit" id="3596502">
                    <img src="{% static 'posters/3596502.jpg' %}" alt="" />
                </div>

            </div>
        </div>
    </div>

    <!--aside-->
    <aside id="aside">
        <div class="inner">
            <div class="content">
                <h2>您已選擇了<br />3部電影<br />確定選好了嗎？</h2>
                <a href="/AB103Movie/introduction" class="button big alt"><span>Let's Go</span></a>
                <div href="" class="button" id="later"><span>我想再考慮一下</span></div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3 id="tc">關於我們</h3>
                <p id="tc">
                    8個人的團隊 利用在資策會大數據班學到的<br />我們實作了這個電影推薦網<br />希望您們會喜歡<br />如果對我們有興趣 請聯絡我們
                </p>
            </div>
            <div class="copyright">
                <h3 id="tc">聯絡我們</h3>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                </ul>
                &copy; III AB103 TEAM MOVIE
            </div>
        </div>
    </footer>

    <!-- Scripts -->

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/skel.min.js'%}"></script>
    <script src="{% static 'js/util.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/recommand.js'%}"></script>


</body>

</html>
